*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}


body {
  background: brown;
  color: white;
  font-weight: 300;
  line-height: 1.6;
}