.nav {
  height: 8vh;
  width: 100vw;
  grid-row: 1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  position: sticky;
  top: 0;
  color: black;
  background: white;
  z-index: 3;
  div {
    font-size: 2rem;
    font-weight: 700;
    justify-self: center;
    align-self: center;
  }
  &--home {
    grid-column: 1;
    grid-row: 1;
  }
  &--fruits {
    grid-column: 2;
    grid-row: 1;
  }
  &--characters {
    grid-column: 3;
    grid-row: 1;
  }
}