.synoposis {
  grid-row: 2;
  grid-column: 1;
  background: purple;
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  p {
    hyphens: auto;
  }

  p::first-letter {
    font-weight: 700;
    color: red;
    text-shadow: 2px 2px black;
  }

  p {
    grid-column: 2 / -1;
    width: 100%;
    grid-row: 1;
    padding: 1rem 2rem;
  }

  p:nth-child(2) {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    padding: 1rem 2rem;
  }

  a {
    display: block;
    padding: 2rem 1rem;
  }

  img {
    display: block;
    // padding: 2rem 1rem;
    height: auto;
    width: 100%;
  }
}