.synoposis {
  grid-row: 2;
  grid-column: 1;
  color: black;
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  p {
    hyphens: auto;
    font-weight: 400;
    font-size: 2rem;
  }

  p::first-letter {
    padding: 0 3px 0 0;
    font-weight: 900;
    text-shadow: 2px 2px #e4d96f;
  }

  p {
    grid-column: 2 / -1;
    width: 100%;
    grid-row: 1;
    padding: 2rem 2rem;
  }

  p:nth-child(2) {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    padding: 0 2rem;
  }

  a {
    display: block;
    padding: 2rem 1rem;
    align-self: center;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  &--chopper {
    grid-column: 2;
    grid-row: 3;
    justify-self: right;
    align-self: end;
    position: absolute;

    img {
      height: 2rem;
      width: 2rem;
    }
  }

  &--crew {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    align-content: end;
    align-items: end;
    align-self: end;

    img {
      padding: 0 5px;
      height: 35rem;
      width: 100%;
    }
  }
}